{% extends "base.html" %}

{% block title %}App Index{% endblock %}

{% block content %}
<h1>Mystery store</h1>

<form action="/" method="post">
    <label for="item_price">Item price:</label>
    <input type="number" id="item_price" name="item_price" value="{{ item_price }}" required>
    <br>
    <label for="number_of_items">Number of items:</label>
    <input type="number" id="number_of_items" name="number_of_items" value="{{ number_of_items }}" required>
    <br>
    <label for="state">State:</label>
    <select name="state" id="state">
        {% for state in states %}
            <option value="{{ state }}" {% if state == selected_state %}selected{% endif %}>{{ state }}</option>
        {% endfor %}
    </select>
    <br>
    <button type="submit">Submit</button>
</form>

<p>Item price: {{ item_price }}</p>
<p>Number of items: {{ number_of_items }}</p>
<p>Total price: {{ total_price }}</p>
<p>Tax rate: {{ tax_rate }}%</p>
<p>Total price with tax: {{ total_price_with_tax }}</p>
{% endblock %}
